<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.coffeepoke.mobileapp"
        version   = "1.0.33">
    <name>CoffeePoke</name>

    <description>
        The machine that strengthen the bonds within your company
    </description>

    <author href="http://www.coffeepoke.com" email="edouard@coffeepoke.com">
        CoffeePoke Team
    </author>

    <gap:platforms>
        <gap:platform name="ios"/>
        <gap:platform name="android" minVersion="2.1"/>
        <gap:platform name="webos"/>
        <gap:platform name="symbian.wrt"/>
        <gap:platform name="blackberry" project="widgets"/>
    </gap:platforms>

	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

    <preference name="splash-screen-duration" value="4000" />
    <preference name="phonegap-version" value="2.2.0" />

    <icon src="static/img/mobile/icon.png" />
    <icon src="static/img/mobile/icon-36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="static/img/mobile/icon-48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="static/img/mobile/icon-72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="static/img/mobile/icon-96.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="static/img/mobile/icon-96.png"     gap:platform="blackberry" />
    <icon src="static/img/mobile/icon-96.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="static/img/mobile/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="static/img/mobile/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="static/img/mobile/icon-135.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="static/img/mobile/icon-135.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="static/img/mobile/icon-64.png"          gap:platform="webos" />
    <icon src="static/img/mobile/icon-48.png"  gap:platform="winphone" />
    <icon src="static/img/mobile/icon-135.png" gap:platform="winphone"   gap:role="background" />

    <gap:splash src="static/img/mobile/splash_320_480.png"           gap:platform="android" gap:density="ldpi" />
    <gap:splash src="static/img/mobile/splash_640_960.png"           gap:platform="android" gap:density="mdpi" />
    <gap:splash src="static/img/mobile/splash_768_1024.png"           gap:platform="android" gap:density="hdpi" />
    <gap:splash src="static/img/mobile/splash_1024_768.png"           gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="static/img/mobile/splash_320_480.png"           gap:platform="blackberry" />
    <gap:splash src="static/img/mobile/splash_320_480.png"           gap:platform="ios"     width="320" height="480" />
    <gap:splash src="static/img/mobile/splash_640_960.png"           gap:platform="ios"     width="640" height="960" />
    <gap:splash src="static/img/mobile/splash_768_1024.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="static/img/mobile/splash_1024_768.png"           gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="static/img/mobile/splash_1024_768.png"           gap:platform="winphone" />
</widget>